body {
    background: url("../../img/map/background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: block;
}

.tags input[type="button"]{
    overflow: hidden;
    color: blue;
    font-size: 20px;
    font-weight: 900;
    background: none;
    border-radius: 10px;
    border: 3px solid red;
    float:left;
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 900;
}
.tags input[type="button"]:hover {
    background-color: #ddd;
}
h1 {
    font-size: 1.5cm;
}
h2 {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: black;
    font-size: 55px;
    margin: auto;
    margin-top: 10px;
}
h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: red;
    font-size: 55px;
    margin: auto;
}
.main {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    color:blue;

    align-items: center;
    text-align: center;
    font-size: 1cm;
    font-weight: 900;
    margin: 0 auto;
    
}

.main ol{
    display: block;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 0px;
    margin-left: 210px;
}

