@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    background-image: url(./gunwars.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Noto Sans TC',sans-serif !important;
    text-align: center;
    font-weight: 800;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    font-size: 1cm;
    width: 600px;
    height: 150px;
    
    background-color: black;
    border-radius: 10px;
}
h1 {
    color:white;
}
h2 {
    color: red;
    font-size: 30px;
    
}
h3 {
    color: green;
}
.team{
    background-color: black;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    margin-top: 10%;
}

.img {
    background-color: black;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    margin-top: 10%;
}

.info {
    background-color: black;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    margin-top: 10%;
}
.download {
    background-color: black;
    width: 200px;
    height: 100px;
    cursor: pointer;
    border-radius: 20px;

    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    margin-top: 10%;
    
    line-height: 40px;
    border: 5px solid transparent;
}
.download:hover {
    background-color: white;
    color:black;
    border: 5px solid black;
}


@media only screen and (max-width: 615px){
    .title {
        width: 500px;
        font-size: 30px;
    }
    .team {
        width: 500px;
    }
    .info {
        width: 500px;
    }
    .img {
        width: 500px;
    }
}
@media only screen and (max-width: 555px){
    .title {
        width: 300px;
        font-size: 20px;
    }
    .team {
        width: 300px;
    }
    .info {
        width: 300px;
    }
    .img {
        width: 300px;
    }
}
