html {
    box-sizing: border-box;
}
body {
    background-color: rgb(18, 18, 18);
    font-family: "Noto Sans TC", sans-serif;
	font-weight: bold;
	min-width: 20px;
    min-height: 100vh;
}


h1 {
    position: relative;
    text-align: center;
    margin: 0 auto;
    line-height:30px;
    padding: 0;
    font-size: xx-large;
}
/* dn */
.dn {
    margin-left: -70px;
    border:10px solid #333333;
    font-weight: bold;
    background-color: green;
    width: 300px;
    padding: 2px;
    text-align: center;
    justify-content: center; 
    align-items: center;
    border-radius: 50px;
}
.dn input[type="button"] {
    
    margin-top: -5px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    border: 3px solid blue;
    color:white;
    background: none;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    border-radius: 50px;
}
.dn input[type="button"]:hover{
    background-color: black;
}
.tags input[type="button"]{
    overflow: hidden;
    color: white;
    background: none;
    border-radius: 10px;
    border: 3px solid red;
    float:left;
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
}
.tags input[type="button"]:hover {
    background-color: #ddd;
    color: black;
}

h2{
    position: relative;
    top:-10px;
    left: 5px;
}
h1,h2, p{
    color: white;
    padding: 10px;
}

.world {
    display: flex;
    flex:none;
    flex-wrap: wrap;
    flex-flow:center;
    align-content:stretch;
    align-items:flex-start;
    justify-content: center;
    min-width: min(40rem, 100%);
    position: relative;
    gap:20px
}

.world1 {
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    flex:none;
    flex-wrap: wrap;
    width: 425px;
    height: 520px;
    background-color: rgb(30, 30, 30);
    margin-bottom: 50px;
    word-wrap:break-word;
    line-height: 20px;
    box-shadow: 0 0 10px 4px black;
    box-sizing: border-box;
    animation: fadeIn 0.5s both;
}
.world1:hover {
    box-shadow: 0 0 50px 4px black;
}
.world1 p {
    padding: 5px;
    margin-left: 10px;
    margin-top: -10px;
}
.diffent p{
    margin: 10px;
    margin-top: -20px;
}
.star {
    color: rgb(255, 193, 7);
}
.plot{
    margin: 35;
    padding: 15px;
}
.tag{
    float:left;
    text-align: center;
    margin-left: 10px;
}
.tag-1 {
    margin-left: 3px;
    margin-top: 20px;
    border: 1px solid rgb(32, 126, 200);
    border-radius: 20px;
    color:rgb(32, 126, 200);
    text-align: center;
    height: 15px;
    float:left;
    padding: 10px;
}
.tag-1:hover{
    background-color: rgb(31, 40, 47);
    cursor:default;
    
}

.world1:nth-child(3), .world1:nth-child(6), .world1:nth-child(15) {
	animation-delay: .2s;
}
.world1:nth-child(1), .world1:nth-child(5), .world1:nth-child(12) {
	animation-delay: .2s;
}
.world1:nth-child(7), .world1:nth-child(9), .world1:nth-child(11) {
	animation-delay: .4s;
}
.world1:nth-child(4), .world1:nth-child(10), .world1:nth-child(13) {
	animation-delay: .6s;
}
.world1:nth-child(2), .world1:nth-child(8), .world1:nth-child(14) {
	animation-delay: .8s;
}

@keyframes fadeIn {
    0% {
        background-color: black;
    }
    100% {
        background-color: transparent;
    }
}

.world1 img {
    filter: brightness(120%);
    animation: an1 1s ease-in;
    transition: all 1s ease-out;
    overflow: hidden;    
    transition: all 1s ease-out;
    border: 10px solid transparent;
}
.world1 img:hover {
    filter: brightness(100%);
    border: 10px solid red;
}


@keyframes an1 {
    from{
        filter:brightness(0%);
    }
    to {
        
        filter: brightness(100%);
    }
}